# URL pública del backend de PocketBase
VITE_POCKETBASE_URL=https://petlife.noweb.cl

# Configuración Transbank Webpay Plus (Opcional - Próxima activación)
# VITE_TRANSBANK_COMMERCE_CODE=
# VITE_TRANSBANK_ENVIRONMENT=production
